@model Edveeeeeee.Models.UnidadeCurricular

<h2>Editar Unidade Curricular</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProfessorId" />

    <label>Nome:</label>
    <input asp-for="Nome" class="form-control" required />

    <label>Código:</label>
    <input asp-for="Codigo" class="form-control" required />

    <label>Turmas:</label>
    <input asp-for="Turmas" class="form-control" required />

   

    <label>Descrição:</label>
    <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>

    <h3>EdVee</h3>

    <label>Competências:</label>
    <textarea asp-for="Competencias" class="form-control" rows="3"></textarea>

    <label>Conteúdos:</label>
    <textarea asp-for="Conteudos" class="form-control" rows="3"></textarea>

    <label>Atividades:</label>
    <textarea asp-for="Atividades" class="form-control" rows="3"></textarea>

    <label>Avaliação:</label>
    <textarea asp-for="Avaliacao" class="form-control" rows="3"></textarea>

    <button type="submit" class="btn-detalhes">Guardar</button>
</form>
