@model Edveeeeeee.Models.Avaliacao

<h2>Editar Avaliação</h2>

<form asp-action="EditAvaliacao" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UnidadeCurricularId" />

    <label>Texto:</label>
    <input asp-for="Texto" class="form-control" required />

    <button type="submit" class="btn-detalhes">Guardar</button>
</form>
