@model List<Edveeeeeee.Models.UnidadeCurricular>

<h2 style="color: #a60000;">LICENCIATURA EM ENGENHARIA INFORMÁTICA</h2>

<div style="text-align: right; margin-bottom: 15px;">
    <a href="/UC/Create" class="btn-nova-uc">+ Nova Unidade Curricular</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Turmas</th>
            <th>Regime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uc in Model)
        {
            <tr>
                <td>@uc.Nome</td>
                <td>@uc.Codigo</td>
                <td>@uc.Turmas</td>
                <td>@uc.Regime</td>
                <td>
                    <a class="btn-detalhes" href="/UC/EdVee/@uc.Id">EdVee</a>
                </td>
            </tr>
        }
    </tbody>
</table>
